@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial;
    margin: 0;
  }

  a {
    color: #6366f1;
    text-decoration: none;
  }
  a:hover {
    color: #4f46e5;
  }
}

.site-container {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .site-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .site-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.content-with-footer {
  padding-bottom: 4rem;
}
