.features {
  background: #ffffff;
  width: 100%;
  padding-bottom: 4rem;
}

.featureGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 15rem 0 15rem;
}

@media (min-width: 768px) {
  .featureGrid {
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 15rem 0 15rem;
  }
}

.featureBox {
  background: #fde68a;
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  width: 15rem;
  height: 15rem;
  text-align: center;
  box-shadow: 0 1.5px rgba(0, 0, 0, 0.2);
}
